@charset "UTF-8";

.test1 {
	color: red;
}

.test2 {
	color: blue;
	font-weight: bold;
}

.my-scrollable-box {
    /* 1. กำหนดขนาดที่แน่นอนเพื่อให้ Scrollbar ทำงาน */
    width: 450px;
    height: 250px; 
    
    /* 2. คำสั่งสร้าง Scrollbar */
    /* overflow: auto; จะแสดง Scrollbar ก็ต่อเมื่อเนื้อหาเกินเท่านั้น */
    /* overflow: scroll; จะแสดง Scrollbar เสมอ แม้เนื้อหาจะไม่เกิน */
    overflow: auto; 
    
    /* ตกแต่งเพิ่มเติม */
    border: 1px solid #ccc;
    padding: 10px;
}

.my-scrollable-box p {
    /* กำหนด Margin บน/ล่าง เป็น 0 */
    margin-top: 0; 
    margin-bottom: 0;
    
    /* หรือกำหนดค่าที่ต้องการ เช่น 5 พิกเซล */
    /* margin: 5px 0; */ 
}